* {
  padding: 0;
  margin: 0;
}

#toggle {
  display: none;
  background: #353b48;
  color: #fff;
  text-align: right;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

nav {
  background-color: #2ecc71;
}

ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
}

nav ul li:hover {
  background-color: #e74c3c;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  ul {
    flex-direction: column;
    text-align: center;
  }

  #toggle {
    display: block;
  }

  nav {
    display: none;
  }
}



/* ul li {} */